/* ------ F O N T S ------ */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ------ G L O B A L   S T Y L E S ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color: #292d35;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main content container */
.container {
    flex: 1;

    &__home{
        background-image: url(images/webb.png);
        background-position: center;
        background-size: auto;
        background-repeat: repeat;
    }

    &__about{
        background-image: url(images/webb.png);
        background-position: center;
        background-size: auto;
        background-repeat: repeat;
    }

    &__portfolio{
        background-color: gray;
    }

    &__resume{
        background-color: black;
        position: relative;
        z-index: 1;
    
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(images/pixel_weave.png);
            background-position: center;
            background-size: auto;
            background-repeat: repeat;
            opacity: 0.50;
            z-index: -1;
        }
    }

    &__contact{
        background-color: black;
        position: relative;
        z-index: 1;
    
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(images/pixel_weave.png);
            background-position: center;
            background-size: auto;
            background-repeat: repeat;
            opacity: 0.50;
            z-index: -1;
        }
    }
}

/* ------ N A V I G A T I O N   S T Y L E S ------ */
nav {
    background-color: #292d35;
    width: 100%;
}

nav ul {
    max-width: 1300px;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    height: 80px;
    font-size: 15px;
    font-weight: 600;
}

nav a {
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #E7ECEF;
}

nav li:not(:first-child) a:hover {
    color: gold;
}

/* First Item Special Styling */
nav li:first-child {
    margin-right: auto;
    font-size: 30px;
    font-weight: 800;
    white-space: nowrap;
}

nav li:first-child a {
    cursor: default;
}

/* ------ T A B L E T   &   M O B I L E   S I D E B A R ------ */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #E7ECEF;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    height: 40px;
    width: 100%;
}

.sidebar a {
    color: black;
}

.sidebar a:hover {
    background-color: blue;
}

/* Sidebar Icons */
.x-icon {
    fill: #000000;
}

.sidebar li:hover .x-icon {
    fill: gold;
}

.menu-button {
    display: none;
}

.menu-icon{
    fill: #E7ECEF;
}

li:hover .menu-icon{
    fill: gold;
}

/* ------ H O M E ------ */
.home{
    &__wrapper{
        width: 100%;
        margin: 150px auto;
        max-width: 1600px;
    }

    &__section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__left-content{
        padding: 50px;

        &__wrapper{
            width: 30%;
        }
    }

    &__profile-picture{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        &img{
            width: 100%;
            height: auto;
            max-height: 540px;
            max-width: 540px;
        }
    }

    &__right-content{
        padding: 50px;

        &__wrapper{
            width: 30%;
        }
    }

    &__title{
        font-size: 50px;
        text-wrap: nowrap;
    }
}

/* ------ A B O U T ------ */
.about{
    &__wrapper{
        width: 100%;
        margin: 0 auto;
        max-width: 1600px;
        color: #292d35;
    }

    &__section{
        display: flex;
        flex-direction: row;
    }

    &__header{
        width: 100%;
        max-width: 1920px;
        height: 400px;
        background-image: url(images/msi.webp);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        &--title{
            color: white;
            font-size: 100px;	
            text-shadow: 6px 6px 0px rgba(0,0,0,0.4);
        }
    }

    &__content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 600px;
        background-color: #FAF9F6;

        &--text{
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 50px;

            h1 {
                margin-top: -10px;
                margin-bottom: 10px;
            }
        }

        &--image{
            width: 100%;
            height: 100%;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/* ------ RESUME ------ */
.resume{
    &__wrapper{
        width: 100%;
        margin: 0 auto;
        max-width: 1600px;
        display: flex;
        flex-direction: row;
    }

    &__section{
        margin: 100px 0px;
        display: flex;
        flex-direction: row;

        &__pdf{
            &__wrapper{
                width: 60%;
                height: auto;
                display: flex;
                margin: 0 100px;
    
                img{
                    width: 100%;
                    height: auto;
                    box-shadow: 10px 10px black;
                }
            }
        }

        &__info{
            display: flex;
            flex-direction: column;
        }

        &__text{
            margin: 50px auto 0 0;
            font-size: 20px;
            border-bottom: 1px solid #000000;
        }

        &__buttons{
            background: #FF4742;
            border: 1px solid #FF4742;
            border-radius: 6px;
            box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 2px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
            font-size: 16px;
            font-weight: 800;
            line-height: 16px;
            min-height: 40px;
            outline: 0;
            padding: 24px 56px;
            text-align: center;
            text-rendering: geometricprecision;
            text-transform: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
            margin-right: 10px;
            
            &:hover,
            :active {
              background-color: white;
              background-position: 0 0;
              border-color: white;
              color: #FF4742;
            }
            
            &:active {
              opacity: .5;
            }

            &__wrapper{
                width: 40%;
                align-items: center;
                display: flex;
                margin-top: 20px;
            }
        }
    }
}

/* ------ P O R T F O L I O ------ */
.portfolio {
    &__wrapper{
        width: 100%;
        margin: 0 auto;
        max-width: 1920px;
    }

    &__section {
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    &__tile {
        background-color: black;
        width: 20%;
        height: 900px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s ease;
        text-decoration: none;

        &:hover{
            transform: translateY(-10px); 
            z-index: 1;
        }

        &--text{
            font-size: 50px;
            font-weight: 800;
            color: white;
            text-shadow: 4px 4px 0px rgba(0,0,0,0.4);
        }
    }
}

.contact{
    &__wrapper{
        width: 100%;
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
        flex-direction: row;
    }

    &__section{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        color: white;

        &__info{
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;
        }

        &__header{
            text-align: center;
            margin-bottom: 50px;

            h1{
                font-size: 50px;
            }
        }

        &__type{
            margin-left: 10px;
        }

        &__icon{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%; /* Circular button style */
            background-color: ghostwhite;
        }

        &__text{
            &__thin{
                font-weight: 300;
            }
        }
    }
}

/* ------ F O O T E R ------ */
footer{
    background-color: #292d35;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    &__wrapper{
        margin: auto;
        width: 65%;
        max-width: 1200px;
        height: 50%;
        display: flex;
        flex-direction: row;
        color: white;
    }
  
    &__section{
        flex: 1;

        &--about{
            border-right: 1px solid #fff;

            p{
                font-weight: 300;
                font-size: 12px;
            }
        }
  
        &--pages{
            margin-left: 50px; 
            border-right: 1px solid #fff;
        }
  
        &--contact{
            margin-left: 50px;   
        }
    }
  
    &__title{
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 10px;
    }
  
    &__link{
        display: inline-block;
        padding-right: 10px;
        text-decoration: none;
        color: white;
        font-weight: 300;
        font-size: 12px;
    }
  
    &__contact-link{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%; /* Circular button style */
        background-color: gray;
    }
}
  
/* ------ R E S P O N S I V E   S T Y L E S ------ */
@media(max-width: 800px) {
    /* Hide Elements on Mobile */
    .hideOnMobile {
        display: none;
    }

    /* Adjust Navigation Width */
    nav ul{
        padding: 0 10%;
    }

    /* Show Menu Button */
    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    /* Full-Width Sidebar on Small Screens */
    .sidebar {
        width: 100%;
    }
}