/* ------ F O N T S ------ */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ------ G L O B A L   S T Y L E S ------ */
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Noto Sans", sans-serif;
}

/* ------ N A V I G A T I O N   S T Y L E S ------ */
nav {
    background-color: #292d35;
    position: fixed;
    width: 60%;
    left: 20%;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    height: 80px;
    font-size: 15px;
    font-weight: 600;
}

nav a {
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    box-sizing: border-box;
}

nav li:not(:first-child) a:hover {
    color: gold;
}

/* First Item Special Styling */
nav li:first-child {
    margin-right: auto;
    font-size: 30px;
    font-weight: 800;
    white-space: nowrap;
}

nav li:first-child a {
    cursor: default;
}

/* ------ T A B L E T   &   M O B I L E   S I D E B A R ------*/
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    height: 40px;
    width: 100%;
}

.sidebar a {
    color: black;
}

.sidebar a:hover {
    background-color: blue;
}

/* Sidebar Icons */
.x-icon {
    fill: #000000;
}

.sidebar li:hover .x-icon {
    fill: gold;
}

.menu-button {
    display: none;
}

.menu-icon{
    fill: #ffffff;
}

li:hover .menu-icon{
    fill: gold;
}

/* Responsive Styles 
-------------------------------------------------- */
@media(max-width: 800px) {
    /* Hide Elements on Mobile */
    .hideOnMobile {
        display: none;
    }

    /* Adjust Navigation Width */
    nav {
        width: 80%;
        left: 10%;
    }

    /* Show Menu Button */
    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    /* Full-Width Sidebar on Small Screens */
    .sidebar {
        width: 100%;
    }
}

/* Main Content Wrapper
-------------------------------------------------- */
.main-wrapper {
    width: 100%;
    background-color: #292d35;
}

.main {
    height: 75vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
