/* ------ F O N T S ------ */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ------ G L O B A L   S T Y L E S ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color: #E7DECD;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// ------- H E A D E R -------
.header{
    &__wrapper{
        margin: 0 auto;
        width: 100%;
        max-width: 1920px;
    }

    &__section{
        height: 500px;
        background-position: center;
        background-size: cover;
        background-image: url(images/47th\ street\ header.jpg);
        overflow: hidden;
        display: flex;
        justify-content: center;

        & img{
            height: 100%;
            width: auto;
        }
    }
}

/* Main content container */
.container {
    flex: 1;

}

/* ------ H O M E ------ */
.home {
    &__wrapper{
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
    }

    &__section{
        background-image: url(images/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }

    &__coffee{

        &__wrapper{
            margin: 0 auto;
            width: 100%;
            max-width: 1600px;
            display: flex;
            flex-direction: row;
        }

        &__img{
            margin: 10% 20%;
            height: auto;
            width: 100%;
            display: block;

            &__wrapper{
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &__text{
            color: white;
            font-size: 100px;
            font-weight: 800;
            line-height: 90%;
            margin-left: 30%;

            &__wrapper{
                width: 40%;
                display: flex;
                align-items: center;
            }
        }
    }

    &__menu{
        
        &__wrapper{
            width: 100%;
            max-width: 1300px;
            margin: 200px auto 0 auto;
            padding-bottom: 100px;
        }

        &__section{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title{
            margin-top: 50px;
            text-align: center;
            font-size: 200px;
            font-weight: 800;
            color: white;

            &__subcategory {
                color: white;
                font-size: 40px;
                font-weight: 800;
                display: inline-block;
                position: relative;

                &__wrapper {
                    text-align: center;
                    position: relative;
                    margin: 50px 0 20px 0;
                }
            }
        }

        &__separator {
            position: absolute;
            left: -10px;
            right: -10px;
            height: 5px;
            border: none;
            background-color: wheat;
        }

        &__item{
            margin: 5px;
            width: 50%;
            background-color: wheat;
            height: 150px;
            padding: 10px;
            display: flex;
            flex-direction: row;

            &__wrapper{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            & img {
                max-width: 175px;
                max-height: 130px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &__text{
                &__wrapper{
                    width: 100%;
                    padding: 10px;
                }
            }

            &__name-price-wrapper{
                display: flex;
                flex-direction: row;
            }

            &__name{

            }

            &__price{
                margin-left: auto;
                color: #F51735;
                font-size: 15px;
                font-weight: 600;
            }

            &__description{
                padding-top: 10px;
                color: rgb(37, 37, 37);
                font-weight: 300;
                font-size: 12px;
            }
        }
    }
}

/* ------ F O O T E R ------ */
footer {
    background-color: #161f14;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    &__wrapper{
        width: 100%;
        max-width: 1250px;
        color: white;
        display: flex;
        flex-direction: column;
    }

    &__section{
        &__wrapper{
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        &__title{
            font-size: 50px;
            font-weight: 800;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }

        &__map{
            width: 100%;
            padding: 1rem;

            &__wrapper{
                width: 50%;
            }

            & img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        &__location{
            width: auto;
            font-size: 25px;
            font-weight: 600;
            padding-left: 50px;

            &__wrapper{
                width: 50%;
                display: flex;
                align-items: center;
            }
        }
    }
}